.header-container {
  background-image: linear-gradient(-20deg, #f77062 0%, #fe5196 100%);
}

.todo-container {
  margin: 0 auto;
  box-sizing: border-box;
}

.todo-card-container {
  padding: 15px 15px 15px;
  border: 1px solid #ddd;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
}

.list-title {
  font-size: 16px;
  display: inline-block;
  margin: 8px 0 0;
  font-weight: bold;
}

.todo-container hr {
  border: 0;
  margin: 5px 0;
}

#tasks-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-delete {
  border-radius: 100%;
  padding: 5px 8px;
}

#tasks-list .list-group-item input[type="checkbox"] {
  margin: 10px 10px 10px 0;
  position: relative;
  top: 2px;
}

#tasks-list .list-group-item {
  border: 0;
  border-top: 1px solid #eee !important;
  padding: 7px 3px 5px 10px;
}

#tasks-list li .btn-delete {
  display: none;
}

#tasks-list li:hover .btn-delete {
  display: inline-block;
}

.todo-container h1 {
  font-size: 24px;
  margin: 0;
}

.todo-card-header {
  padding: 20px 15px 0;
  background-image: linear-gradient(-20deg, #f77062 0%, #fe5196 100%);
  color: #fff !important;
}

.todo-container h1 small {
  font-size: 12px;
  padding-top: 0;
  color: #fff;
  margin: 0;
  display: block;
}

.filters-container .btns-container {
  text-align: right;
}

.filters-container .btn-default {
  border: 0;
  background: transparent;
  color: #fff;
}

.filters-container .btn-default:hover {
  background: rgba(0, 0, 0, .1);
}